{{- /* Footer custom content area start */ -}} {{- /* Insert any custom code
web-analytics, resources, etc. here */ -}} {{- /* Footer custom content area end
*/ -}}
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.8/dist/medium-zoom.min.js"></script>
<script>
  const images = Array.from(document.querySelectorAll(".post-content img"));
  images.forEach((img) => {
    mediumZoom(img, {
      margin: 0 /* The space outside the zoomed image */,
      scrollOffset: 10 /* The number of pixels to scroll to close the zoom */,
      container: null /* The viewport to render the zoom in */,
      template: null /* The template element to display on zoom */,
      background: "rgba(0, 0, 0, 0.8)",
    });
  });
</script>
